Node-Red/flow-clima-mysql.json
[
    {
        "id": "88ae6e24f90c5fea",
        "type": "tab",
        "label": "Clima por API y Bases de datos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb16f8b231c165de",
        "type": "mqtt in",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "topic": "codigoIoT/Mor/mqtt/flow5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e02e5e0f7dac1f73",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "fab9bc72a77dcc7b"
            ]
        ]
    },
    {
        "id": "fab9bc72a77dcc7b",
        "type": "json",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "e3fd4f176d098822",
                "b9e0725a543a423f"
            ]
        ]
    },
    {
        "id": "e3fd4f176d098822",
        "type": "function",
        "z": "88ae6e24f90c5fea",
        "name": "Temperature",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 140,
        "wires": [
            [
                "6ade4e71c16796c7",
                "029b32884364fc63"
            ]
        ]
    },
    {
        "id": "b9e0725a543a423f",
        "type": "function",
        "z": "88ae6e24f90c5fea",
        "name": "Humity ",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 240,
        "wires": [
            [
                "207ec0dde6324e99",
                "029b32884364fc63"
            ]
        ]
    },
    {
        "id": "6ade4e71c16796c7",
        "type": "ui_gauge",
        "z": "88ae6e24f90c5fea",
        "name": "Temperature",
        "group": "59b320763c0fc424",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#3465a4",
            "#73d216",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "className": "",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "207ec0dde6324e99",
        "type": "ui_gauge",
        "z": "88ae6e24f90c5fea",
        "name": "Relative humety ",
        "group": "59b320763c0fc424",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "wave",
        "title": "Humety",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "029b32884364fc63",
        "type": "ui_chart",
        "z": "88ae6e24f90c5fea",
        "name": "Local behavior",
        "group": "59b320763c0fc424",
        "order": 6,
        "width": "6",
        "height": "4",
        "label": "History behavior",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "78a036897db80c37",
        "type": "http request",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=20.446475397953133&lon=-97.32002418115282&appid=43eaee949577894967a79886768d9da8&units=metric\t",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "87fd2a6ed6b4208a"
            ]
        ]
    },
    {
        "id": "94e20343bce0a729",
        "type": "inject",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "78a036897db80c37"
            ]
        ]
    },
    {
        "id": "87fd2a6ed6b4208a",
        "type": "json",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "edac79c09f0b3b80",
                "adbddc68d33088ad"
            ]
        ]
    },
    {
        "id": "edac79c09f0b3b80",
        "type": "function",
        "z": "88ae6e24f90c5fea",
        "name": "Temperature API",
        "func": "global.set (\"tempAPI\", msg.payload.main.temp);\nmsg.payload = msg.payload.main.temp;\nmsg.topic = \"Temperature\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 360,
        "wires": [
            [
                "20dbe410bd2dd8ef",
                "7425da9cd4222670"
            ]
        ]
    },
    {
        "id": "adbddc68d33088ad",
        "type": "function",
        "z": "88ae6e24f90c5fea",
        "name": "Humety API",
        "func": "msg.payload = msg.payload.main.humidity;\nglobal.set (\"humAPI\", msg.payload);\nmsg.topic = \"Humety\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 440,
        "wires": [
            [
                "b7bd1d43e1801ff1",
                "7425da9cd4222670"
            ]
        ]
    },
    {
        "id": "20dbe410bd2dd8ef",
        "type": "ui_gauge",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "group": "0a3ad8a80a301ee6",
        "order": 1,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature API",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#3465a4",
            "#73d216",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "className": "",
        "x": 1010,
        "y": 360,
        "wires": []
    },
    {
        "id": "b7bd1d43e1801ff1",
        "type": "ui_gauge",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "group": "0a3ad8a80a301ee6",
        "order": 3,
        "width": 7,
        "height": 4,
        "gtype": "wave",
        "title": "Humety API",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 990,
        "y": 440,
        "wires": []
    },
    {
        "id": "7425da9cd4222670",
        "type": "ui_chart",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "group": "0a3ad8a80a301ee6",
        "order": 7,
        "width": "12",
        "height": 5,
        "label": "Historic",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "23",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "6832c29dc51f9650",
        "type": "comment",
        "z": "88ae6e24f90c5fea",
        "name": "MQTT",
        "info": "",
        "x": 50,
        "y": 80,
        "wires": []
    },
    {
        "id": "21ccd0ac3abdaa74",
        "type": "comment",
        "z": "88ae6e24f90c5fea",
        "name": "API LOCAL",
        "info": "",
        "x": 90,
        "y": 300,
        "wires": []
    },
    {
        "id": "98e082414568c5de",
        "type": "function",
        "z": "88ae6e24f90c5fea",
        "name": "JSON public",
        "func": "msg.payload = '{\"id\": \"Sesenes. Papantla, Ver\",\"temp\":'+global.get(\"tempAPI\")+',\"hum\":'+global.get(\"humAPI\")+'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 520,
        "wires": [
            [
                "756d0fcaeb1b7c67",
                "7e0812f168831fd4"
            ]
        ]
    },
    {
        "id": "756d0fcaeb1b7c67",
        "type": "debug",
        "z": "88ae6e24f90c5fea",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 680,
        "wires": []
    },
    {
        "id": "173c658f4e57266e",
        "type": "inject",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "98e082414568c5de"
            ]
        ]
    },
    {
        "id": "2baceb8d00a03f13",
        "type": "comment",
        "z": "88ae6e24f90c5fea",
        "name": "Sender",
        "info": "",
        "x": 290,
        "y": 480,
        "wires": []
    },
    {
        "id": "7e0812f168831fd4",
        "type": "mqtt out",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78946b8fad25f3c3",
        "x": 1040,
        "y": 620,
        "wires": []
    },
    {
        "id": "75935b34807ff065",
        "type": "comment",
        "z": "88ae6e24f90c5fea",
        "name": "Escuchador",
        "info": "",
        "x": 90,
        "y": 620,
        "wires": []
    },
    {
        "id": "feb9d3d144d66967",
        "type": "mqtt in",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "2",
        "datatype": "utf8",
        "broker": "78946b8fad25f3c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 680,
        "wires": [
            [
                "b245fbeeaef410fb",
                "8ac3b38d65242480"
            ]
        ]
    },
    {
        "id": "b245fbeeaef410fb",
        "type": "json",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 680,
        "wires": [
            [
                "75d640121a1ff2d7",
                "24ea674934fef004"
            ]
        ]
    },
    {
        "id": "75d640121a1ff2d7",
        "type": "function",
        "z": "88ae6e24f90c5fea",
        "name": "Temperatura Publica API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 680,
        "wires": [
            [
                "b0e73432f565ae2d"
            ]
        ]
    },
    {
        "id": "24ea674934fef004",
        "type": "function",
        "z": "88ae6e24f90c5fea",
        "name": "Humedad Publica API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 740,
        "wires": [
            [
                "e19ac465f17013c6"
            ]
        ]
    },
    {
        "id": "b0e73432f565ae2d",
        "type": "ui_chart",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "group": "b82f6932dda8b175",
        "order": 1,
        "width": 9,
        "height": 4,
        "label": "Temperatura Publica",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "e19ac465f17013c6",
        "type": "ui_chart",
        "z": "88ae6e24f90c5fea",
        "name": "",
        "group": "b82f6932dda8b175",
        "order": 3,
        "width": 9,
        "height": 4,
        "label": "Humedad Publica",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "8ac3b38d65242480",
        "type": "debug",
        "z": "88ae6e24f90c5fea",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 800,
        "wires": []
    },
    {
        "id": "efb6e78d055f72f2",
        "type": "ui_spacer",
        "z": "88ae6e24f90c5fea",
        "name": "spacer",
        "group": "af93c59182655f71",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "2e0555171dd4f83e",
        "type": "ui_spacer",
        "z": "88ae6e24f90c5fea",
        "name": "spacer",
        "group": "af93c59182655f71",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "74b4520721c76a82",
        "type": "ui_spacer",
        "z": "88ae6e24f90c5fea",
        "name": "spacer",
        "group": "af93c59182655f71",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "225dd04ba2431b04",
        "type": "ui_spacer",
        "z": "88ae6e24f90c5fea",
        "name": "spacer",
        "group": "af93c59182655f71",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "edb04904508a8415",
        "type": "ui_spacer",
        "z": "88ae6e24f90c5fea",
        "name": "spacer",
        "group": "7b16bbef8ac550cf",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "25414898f61dfc5c",
        "type": "ui_spacer",
        "z": "88ae6e24f90c5fea",
        "name": "spacer",
        "group": "7b16bbef8ac550cf",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "bf37426e16b8d4bc",
        "type": "ui_spacer",
        "z": "88ae6e24f90c5fea",
        "name": "spacer",
        "group": "7b16bbef8ac550cf",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "48f2ee7e115b29ee",
        "type": "ui_spacer",
        "z": "88ae6e24f90c5fea",
        "name": "spacer",
        "group": "3c823d2fb7a7be33",
        "order": 2,
        "width": 9,
        "height": 1
    },
    {
        "id": "e02e5e0f7dac1f73",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "59b320763c0fc424",
        "type": "ui_group",
        "name": "Informacion por MQTT",
        "tab": "47b5995736cbc995",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a3ad8a80a301ee6",
        "type": "ui_group",
        "name": "Información por API",
        "tab": "47b5995736cbc995",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78946b8fad25f3c3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "35.156.177.225",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b82f6932dda8b175",
        "type": "ui_group",
        "name": "Historico Publico",
        "tab": "47b5995736cbc995",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af93c59182655f71",
        "type": "ui_group",
        "name": "Informacion por API",
        "tab": "4b77f8aa56b4399e",
        "order": 1,
        "disp": true,
        "width": 17,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b16bbef8ac550cf",
        "type": "ui_group",
        "name": "Informacion por MQTT",
        "tab": "4b77f8aa56b4399e",
        "order": 2,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c823d2fb7a7be33",
        "type": "ui_group",
        "name": "Historico Publico",
        "tab": "4b77f8aa56b4399e",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "47b5995736cbc995",
        "type": "ui_tab",
        "name": "Clima por API-Base de datos",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4b77f8aa56b4399e",
        "type": "ui_tab",
        "name": "Flow5 API",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]